@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,800&display=swap');

// Core
@import './core/vars';
@import './core/inheritance';
@import './core/mixins';
@import './core/common';

// Common components
@import './components/button';
@import './components/scroll';
@import './components/burger';

// Components
@import './components/logo';
@import './components/navigation';
@import './components/header';
