$main-color: #ff6033;
$text-main-color: #262626;
$light: #f9f8fb;
$white: white;
$about-section-color: #00bbbb;

$H1: 16px;
$H2: 17px;
$H3: 20px;
$H4: 50px;
$H5: 60px;

$base-font: 'Raleway';
$logo-font: 'Pacifico';

$max-width: 1200px;
