$style: photo-grid;
.photo-grid {
  &__row {
    @include flex(flex-start, stretch, column);
    @media screen and (min-width: $screen-tablet) {
      flex-direction: row;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      &--medium {
        flex: 1 1 50%;
      }
    }
  }
  &__col {
    width: 100%;
    @media screen and (min-width: $screen-tablet) {
      width: auto;
      flex: 1 1 100%;
      &:not(:last-child) {
        margin-right: 24px;
      }
      &--medium {
        flex: 1 1 50%;
      }
      &--large {
        flex: 1 1 66.6%;
      }
      &--small {
        flex: 1 1 33.3%;
      }
    }
  }
  &__image-wrapper {
    position: relative;
    @include padding-hack(71%, cover);
    background-color: $grey;
    margin-bottom: 24px;
    &--marginless {
      margin-bottom: 0;
    }
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 0;
      &--large {
        padding-bottom: 46.6%;
      }
      &--small {
        padding-bottom: 67.4%;
      }
      &--medium {
        padding-bottom: 34%;
      }
    }
  }
  &__image {
    object-position: center;
  }
}